@model List<Taller_Industrial_Brenes_Web.Models.UsuarioModel>

<div class="row px-5">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="display-3 px-0">Clientes</div>
                <div class="text-muted px-0 fst-italic">Visualización y gestión del estado de los clientes registrados.</div>
                <br>
            </div>
        </div>


        <div class="row mt-3 mb-2"></div>
        <div class="row">
            <div class="col-12 px-0">
                <div class="table-responsive shadow-lg" style="background-color: #f9f9f9; border-left: 5px solid #4e73df; border-radius: 10px;">

                    @if (@ViewBag.Msj != null)
                    {
                        <div class="alert alert-default text-center" role="alert">
                            @ViewBag.Msj
                        </div>
                    }

                    <table id="example" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Identificación</th>
                                <th>Nombre</th>
                                <th>Apellido Paterno</th>
                                <th>Apellido Materno</th>
                                <th>Correo</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var usuario in Model)
                            {
                                <tr>
                                    <td>@usuario.Identificacion</td>
                                    <td>@usuario.Nombre</td>
                                    <td>@usuario.ApellidoPaterno</td>
                                    <td>@usuario.ApellidoMaterno</td>
                                    <td>@usuario.Correo</td>
                                    <td>@(usuario.Estado ? "Activo" : "Inactivo")</td>
                                    <td>
                                        @if (usuario.Estado)
                                        {
                                            <form method="post" asp-controller="Clientes" asp-action="DesactivarUsuario" class="d-inline">
                                                <input type="hidden" name="usuarioID" value="@usuario.UsuarioID" />
                                                <button type="submit" class="btn btn-sm btn-danger me-1">
                                                    <i class="fa-solid fa-user-slash"></i> Desactivar Cuenta
                                                </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form method="post" asp-controller="Clientes" asp-action="ActivarUsuario" class="d-inline">
                                                <input type="hidden" name="usuarioID" value="@usuario.UsuarioID" />
                                                <button type="submit" class="btn btn-sm" style="background-color: #7B9C36; color:white">
                                                    <i class="fa-solid fa-user-check"></i> Activar Cuenta
                                                </button>
                                            </form>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* Data Table *@
<script>
    $(document).ready(function () {

        $("#example").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.1.8/i18n/es-ES.json',
            },
            responsive: true,
            columnDefs: [
                {
                    targets: [2],
                    className: 'text-center'
                }
            ],
            order: [[0, 'desc']]
        });

    });
</script>